test/Service References/RemoteService/SecureServer.BindingData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoorBindingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoorBindingData" nillable="true" type="tns:DoorBindingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoorBindingData" nillable="true" type="tns:ArrayOfDoorBindingData" />
  <xs:complexType name="DoorBindingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoorColorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDoorOpen" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoorBindingData" nillable="true" type="tns:DoorBindingData" />
  <xs:complexType name="ArrayOfCCTVBindingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CCTVBindingData" nillable="true" type="tns:CCTVBindingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCCTVBindingData" nillable="true" type="tns:ArrayOfCCTVBindingData" />
  <xs:complexType name="CCTVBindingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCTVID" type="xs:int" />
      <xs:element minOccurs="0" name="CCTVName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MjpegCgiString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CCTVBindingData" nillable="true" type="tns:CCTVBindingData" />
  <xs:complexType name="ItemBindingData">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ItemBindingData" nillable="true" type="tns:ItemBindingData" />
</xs:schema>