test/Service References/RemoteService/SecureServer.BindingData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoorBindingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoorBindingData" nillable="true" type="tns:DoorBindingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoorBindingData" nillable="true" type="tns:ArrayOfDoorBindingData" />
  <xs:complexType name="DoorBindingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoorColorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDoorOpen" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoorBindingData" nillable="true" type="tns:DoorBindingData" />
</xs:schema>