test/Service References/RemoteService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SecureServer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoomInterface" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDBChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecureServer" minOccurs="0" name="constant" type="q1:DBChangedConstant" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDBChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToServerHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToServerHelloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceOpenDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControllID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceOpenDoorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HookCardReaderEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlaneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HookCardReaderEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HookAlarmEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HookAlarmEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLDoorBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLDoorBindingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="GetALLDoorBindingDataResult" nillable="true" type="q2:ArrayOfDoorBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCCTVBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCCTVBindingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="GetAllCCTVBindingDataResult" nillable="true" type="q3:ArrayOfCCTVBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HookItemValueChangedEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlaneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HookItemValueChangedEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemBindingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="GetAllItemBindingDataResult" nillable="true" type="q4:ArrayOfItemBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemGroupBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemGroupBindingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="GetAllItemGroupBindingDataResult" nillable="true" type="q5:ArrayOfItemGroupBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetItemDOValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemID" type="xs:int" />
        <xs:element minOccurs="0" name="val" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetItemDOValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlaneInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlaneInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="GetAllPlaneInfoResult" nillable="true" type="q6:ArrayOfPlaneDegreeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23ReaderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReaderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23ReaderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetR23ReaderStatusResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetR23Parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RemoOpenTimeR23" type="xs:int" />
        <xs:element minOccurs="0" name="DelayTimeR23" type="xs:int" />
        <xs:element minOccurs="0" name="LoopErrorAlarmTimeR23" type="xs:int" />
        <xs:element minOccurs="0" name="AlarmTimeR23" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetR23ParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetR23ParameterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetR23EngineRoomRecovery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetR23EngineRoomRecoveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetR23EngineRoomRecoveryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23RoomPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23RoomPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoomInterface" minOccurs="0" name="GetR23RoomPersonResult" nillable="true" type="q7:ArrayOfPersonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23Progress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23ProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetR23ProgressResult" nillable="true" type="q8:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23GroupErrorMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23GroupErrorMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetR23GroupErrorMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23ControlConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControllID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetR23ControlConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RoomInterface" minOccurs="0" name="GetR23ControlConnectResult" nillable="true" type="q9:ControlStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalConnectionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hello" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecureDoorEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" minOccurs="0" name="evttype" type="q10:DoorEventType" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="doorBindingData" nillable="true" type="q11:DoorBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecureAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SecureServer" minOccurs="0" name="alarmdata" nillable="true" type="q12:AlarmData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemValueChangedEvenr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" minOccurs="0" name="ItemBindingData" nillable="true" type="q13:ItemBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>