slWCFModule/Service References/RemoteService/SecureServer.CardReader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DBChangedConstant">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AuthorityChanged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DBChangedConstant" nillable="true" type="tns:DBChangedConstant" />
  <xs:simpleType name="DoorEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DoorOpen" />
      <xs:enumeration value="DoorClose" />
      <xs:enumeration value="Connected" />
      <xs:enumeration value="DisConnected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DoorEventType" nillable="true" type="tns:DoorEventType" />
  <xs:complexType name="AlarmData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      <xs:element minOccurs="0" name="PlaneName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmData" nillable="true" type="tns:AlarmData" />
</xs:schema>