slWCFModule/Service References/RemoteService/SecureServer.RTU.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureServer.RTU" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureServer.RTU" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPowerControlInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PowerControlInfo" nillable="true" type="tns:PowerControlInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPowerControlInfo" nillable="true" type="tns:ArrayOfPowerControlInfo" />
  <xs:complexType name="PowerControlInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inx" type="xs:int" />
      <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowerControlInfo" nillable="true" type="tns:PowerControlInfo" />
</xs:schema>