slWCFModule/Service References/RemoteService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SecureServer.CardReader.BindingData" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDBChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" minOccurs="0" name="constant" type="q1:DBChangedConstant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDBChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToServerHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToServerHelloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceOpenDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControllID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceOpenDoorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HookCardReaderEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlaneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HookCardReaderEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HookAlarmEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HookAlarmEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLDoorBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLDoorBindingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecureServer.CardReader.BindingData" minOccurs="0" name="GetALLDoorBindingDataResult" nillable="true" type="q2:ArrayOfDoorBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCCTVBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCCTVBindingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SecureServer.CardReader.BindingData" minOccurs="0" name="GetAllCCTVBindingDataResult" nillable="true" type="q3:ArrayOfCCTVBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hello" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecureDoorEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" minOccurs="0" name="evttype" type="q4:DoorEventType" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SecureServer.CardReader.BindingData" minOccurs="0" name="doorBindingData" nillable="true" type="q5:DoorBindingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecureAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" minOccurs="0" name="alarmdata" nillable="true" type="q6:AlarmData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>