slWCFModule/Service References/RemoteService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ISecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SecureServer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SecureServer.BindingData" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SecureServer.CardReader" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecureService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISecureService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_NotifyDBChange_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDBChange" />
  </wsdl:message>
  <wsdl:message name="ISecureService_NotifyDBChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyDBChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_ToServerHello_InputMessage">
    <wsdl:part name="parameters" element="tns:ToServerHello" />
  </wsdl:message>
  <wsdl:message name="ISecureService_ToServerHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToServerHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_UnRegist_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegist" />
  </wsdl:message>
  <wsdl:message name="ISecureService_UnRegist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegistResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_ForceOpenDoor_InputMessage">
    <wsdl:part name="parameters" element="tns:ForceOpenDoor" />
  </wsdl:message>
  <wsdl:message name="ISecureService_ForceOpenDoor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForceOpenDoorResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_HookCardReaderEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:HookCardReaderEvent" />
  </wsdl:message>
  <wsdl:message name="ISecureService_HookCardReaderEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:HookCardReaderEventResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_HookAlarmEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:HookAlarmEvent" />
  </wsdl:message>
  <wsdl:message name="ISecureService_HookAlarmEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:HookAlarmEventResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetALLDoorBindingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetALLDoorBindingData" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetALLDoorBindingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetALLDoorBindingDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetAllCCTVBindingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCCTVBindingData" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetAllCCTVBindingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCCTVBindingDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_HookItemValueChangedEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:HookItemValueChangedEvent" />
  </wsdl:message>
  <wsdl:message name="ISecureService_HookItemValueChangedEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:HookItemValueChangedEventResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetAllItemBindingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemBindingData" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetAllItemBindingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemBindingDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetAllItemGroupBindingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemGroupBindingData" />
  </wsdl:message>
  <wsdl:message name="ISecureService_GetAllItemGroupBindingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemGroupBindingDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_SetItemDOValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetItemDOValue" />
  </wsdl:message>
  <wsdl:message name="ISecureService_SetItemDOValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetItemDOValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISecureService_SayHello_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="ISecureService_SecureDoorEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SecureDoorEvent" />
  </wsdl:message>
  <wsdl:message name="ISecureService_SecureAlarm_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SecureAlarm" />
  </wsdl:message>
  <wsdl:message name="ISecureService_ItemValueChangedEvenr_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ItemValueChangedEvenr" />
  </wsdl:message>
  <wsdl:portType name="ISecureService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/Register" message="tns:ISecureService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/RegisterResponse" message="tns:ISecureService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyDBChange">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/NotifyDBChange" message="tns:ISecureService_NotifyDBChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/NotifyDBChangeResponse" message="tns:ISecureService_NotifyDBChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToServerHello">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/ToServerHello" message="tns:ISecureService_ToServerHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/ToServerHelloResponse" message="tns:ISecureService_ToServerHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/UnRegist" message="tns:ISecureService_UnRegist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/UnRegistResponse" message="tns:ISecureService_UnRegist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForceOpenDoor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/ForceOpenDoor" message="tns:ISecureService_ForceOpenDoor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/ForceOpenDoorResponse" message="tns:ISecureService_ForceOpenDoor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HookCardReaderEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/HookCardReaderEvent" message="tns:ISecureService_HookCardReaderEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/HookCardReaderEventResponse" message="tns:ISecureService_HookCardReaderEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HookAlarmEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/HookAlarmEvent" message="tns:ISecureService_HookAlarmEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/HookAlarmEventResponse" message="tns:ISecureService_HookAlarmEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetALLDoorBindingData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/GetALLDoorBindingData" message="tns:ISecureService_GetALLDoorBindingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/GetALLDoorBindingDataResponse" message="tns:ISecureService_GetALLDoorBindingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCCTVBindingData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/GetAllCCTVBindingData" message="tns:ISecureService_GetAllCCTVBindingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/GetAllCCTVBindingDataResponse" message="tns:ISecureService_GetAllCCTVBindingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HookItemValueChangedEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/HookItemValueChangedEvent" message="tns:ISecureService_HookItemValueChangedEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/HookItemValueChangedEventResponse" message="tns:ISecureService_HookItemValueChangedEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItemBindingData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/GetAllItemBindingData" message="tns:ISecureService_GetAllItemBindingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/GetAllItemBindingDataResponse" message="tns:ISecureService_GetAllItemBindingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItemGroupBindingData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/GetAllItemGroupBindingData" message="tns:ISecureService_GetAllItemGroupBindingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/GetAllItemGroupBindingDataResponse" message="tns:ISecureService_GetAllItemGroupBindingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetItemDOValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecureService/SetItemDOValue" message="tns:ISecureService_SetItemDOValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/SetItemDOValueResponse" message="tns:ISecureService_SetItemDOValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/SayHello" message="tns:ISecureService_SayHello_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SecureDoorEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/SecureDoorEvent" message="tns:ISecureService_SecureDoorEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SecureAlarm">
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/SecureAlarm" message="tns:ISecureService_SecureAlarm_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemValueChangedEvenr">
      <wsdl:output wsaw:Action="http://tempuri.org/ISecureService/ItemValueChangedEvenr" message="tns:ISecureService_ItemValueChangedEvenr_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ISecureService" type="tns:ISecureService">
    <wsp:PolicyReference URI="#CustomBinding_ISecureService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyDBChange">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/NotifyDBChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToServerHello">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/ToServerHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegist">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/UnRegist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceOpenDoor">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/ForceOpenDoor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HookCardReaderEvent">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/HookCardReaderEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HookAlarmEvent">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/HookAlarmEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetALLDoorBindingData">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/GetALLDoorBindingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCCTVBindingData">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/GetAllCCTVBindingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HookItemValueChangedEvent">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/HookItemValueChangedEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemBindingData">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/GetAllItemBindingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemGroupBindingData">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/GetAllItemGroupBindingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetItemDOValue">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/SetItemDOValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/SayHello" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecureDoorEvent">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/SecureDoorEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecureAlarm">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/SecureAlarm" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemValueChangedEvenr">
      <soap12:operation soapAction="http://tempuri.org/ISecureService/ItemValueChangedEvenr" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecureService">
    <wsdl:port name="CustomBinding_ISecureService" binding="tns:CustomBinding_ISecureService">
      <soap12:address location="net.tcp://localhost:4502/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4502/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>